<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>MedAI</title>

<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="card">

<i class="fa-solid fa-heart-pulse icon"></i>

<h1>MedAI</h1>

<p>Your Intelligent AI Health Assistant</p>

<a href="/patient">

<button>

Get Started

</button>

</a>

</div>

</body>

</html>